// breakpoints
$break--base: 32rem;
$break--small: 50rem;
$break--medium: 60.9375rem;
$break--large: 100rem;
$break--extra: 125rem;



$cRiver: #0A1158;
$cRiverDark: #030943;

$cRhino: #322F73;
$cSalmon: #D53648;
$cBlush: #E96976;
$cFountain: #67AEC4;
$cPaper: #F6F5F3;


$cYellow: #FDC729;
$cYellowLight: #FFE89D;
$cPink: #EA008C;
$cBlue: #c9eaf0;

$fontSecondary: 'Caveat', cursive;

$fontTeriary: 'Fjalla One', sans-serif;

$maxWidth: 87.5rem;